*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-color: #212529;
    display: grid;
    grid-template-rows: 1fr 4fr 0.8fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
     "header"
     "main"
     "footer"
    ;
    row-gap: 15px;
}


nav {
    background-image: url(../assets/images/Cabecera\ 2.png);
    background-size: cover;
}

a img{
    width: 110px;
}


.escudoAncho img{
    width: 170px;
}


main{
    grid-area: main;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:  
     "lado1 lado2 lado3"
    ;
    column-gap: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.lado1{
    background-color: rgb(151, 140, 140);
    border: 2px solid black;
    grid-area: lado1;
    text-align: center;
}

aside table , main table{
    width:95%;
    margin:7px auto;
    color:white;
    text-align:center;
}



aside h1 , article  h1{
    background-color: rgb(0, 0, 0);
    font-size: 1.6rem;
    border: 2px solid orangered;
    padding: 5px;
    color: aliceblue;
    text-align: center;
}

a{
    text-decoration:none;
}

aside table img , main table img{
    width: 30px;
    height: 30px;
}

aside table tr , main table tr{
    cursor: pointer;
}

.lado2 table tr th{
    text-align: start;
    font-size: 1.3rem;
    background-color: black;
}

.lado2 table tr td{
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.par:hover,.impar:hover{
    color: black;
    background-color: coral;
}

.destacado{
    font-family:Arial;
    font-weight:bold;
    background-color: rgb(0, 0, 0);
}

.par{
    background-color: rgb(17, 17, 17);
}

.impar{
    background-color: darkgrey;
    color: rgb(17, 17, 17);
}

.par td, .impar td{
   text-align: start;
}


.lado2{
    background-color: rgb(151, 140, 140);
    border: 2px solid black;
    grid-area: lado2;
}

.lado2 h1{
    text-align: center;
}

.lado3{
    background-color: rgb(151, 140, 140);
    border: 2px solid black;
    grid-area: lado3;
}

figcaption{
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

.logoLiga{
    background-color: black;
    display: flex;
    justify-content: center;
    border-radius: 30px;
}

footer {
    display: flex;
    justify-content: center;
}

.redes{
    background-color: rgba(224, 71, 0, 0.829);
    flex-basis: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.redes a img{
    height: 30px;
    width: 30px;
}


/* contacto */

#form{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    
}

#form label{
    font-size: 1.2rem;
}


@media (max-width:600px) {


    main{
    grid-area: main;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:  
     "lado3" 
     "lado2" 
     "lado1"
    ;
    column-gap: 15px;
    row-gap: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.lado2 table tr th{
    text-align: start;
    font-size: 0.8rem;
    background-color: black;
}

.lado1 table tr th{
    text-align: start;
    font-size: 1.3rem;
    background-color: black;
}

}

