main {
	grid-area: main;
	display: grid;
	height: 70vh;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-areas: "lado1 lado2 lado3"
    ;
	column-gap: 15px;
	margin-left: 8px;
	margin-right: 8px;
	a{
		text-decoration: none;
	}

	figure{
		padding-left: 5px;
		padding-right: 5px;
		
		img{
			height: 190px;
			border: 2px solid white;
		}
		figcaption{
			height: 56px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}

