main {
	grid-area: main;
	display: grid;
	height: 70vh;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 3.2fr 1fr;
	grid-template-areas: "lado1 lado2 lado3"
    ;
	column-gap: 15px;
	margin-left: 8px;
	margin-right: 8px;
}

// TABLAS

.lado1 {
	background-color: $fondoTablas;
	border: $bordeTablas;
	grid-area: lado1;
	text-align: center;
	overflow: auto;
	a {
		h1{
			&:hover{
				transform: scale(0.97);
			}

		}
	}
}
.lado1 table tr th, .lado3 table tr th {
	text-align: start;
}
.lado1 table tr td, .lado3 table tr td {
	font-size: 1rem;
	padding-right: 3px;
	padding-left: 3px;
	font-weight: bold;
}
aside table, main table {
	width: 95%;
	margin: 7px auto;
	color: white;
	img {
		width: 30px;
		height: 30px;
	}
	tr {
		cursor: pointer;
	}
}

aside h1, article  h1 {
	background-color: rgb(0, 0, 0);
	font-size: 1.5rem;
	border: 2px solid orangered;
	padding: 5px;
	color: aliceblue;
	text-align: center;
}

a{
	text-decoration: none;
}

.lado2 {
	background-color: $fondoTablas;
	border: $bordeTablas;
	grid-area: lado2;
	overflow-x: hidden;
	h1 {
		text-align: center;
		
	}
	table tr th {
		font-size: 1.3rem;
		background-color: black;
	}
	table tr td {
		
		font-size: 1rem;
		font-weight: bold;
		padding-top: 7px;
		padding-bottom: 7px;
		font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	}
}

.centrarTabla table tr th{
	width: 33%;
	text-align: center;
}

.centrarTabla table tr td{
	width: 33%;
	text-align: center;
}




  

.par:hover, .impar:hover {
	color: black;
	background-color: coral;
	transform: scale(0.99);
}
.destacado {
	font-family: Arial;
	font-weight: bold;
	background-color: rgb(0, 0, 0);
}
.par {
	background-color: rgb(17, 17, 17);
}
.impar {
	background-color: darkgrey;
	color: rgb(17, 17, 17);
}
.par td, .impar td {
	text-align: start;
	padding-top: 3px;
	padding-bottom: 3px;
}
.lado3 {
	background-color: $fondoTablas;
	border: $bordeTablas;
	grid-area: lado3;
	overflow: auto;
	a {
		h1{
			&:hover{
				transform: scale(0.97);
			}

		}
	}
}
figcaption {
	background-color: #222;
	color: #fff;
	font: italic smaller sans-serif;
	padding: 3px;
	text-align: center;
}
.logoLiga {
	background-color: black;
	display: flex;
	justify-content: center;
	border-radius: 30px;
}




// Formulario

form{
	display: grid;
	grid-template-columns: 1fr 1fr ;
	grid-gap: 0.25rem;
	margin: 2rem 0;
	.content{
		height: 5rem;
	}

	input{
		margin: 0 0.75rem;
		appearance: none ;
		border: none;
		width: 15rem;
		height: 2rem;
		font-size: 1.25rem;
		font-family: 'Times New Roman', Times, serif;
		background-color: #f6f6f6;
		border-bottom: 2px solid #4b556b;
		transition: 0.3s ease;
	}
	input:hover{
		font-size: 1.75rem;
	}
	input:focus-visible{
		height: 1.75rem;
		height: 3rem;
		border: none;
		background-color: #fff;
	}
	
	
	button{
		appearance: none;
		background: linear-gradient(to left, rgb(19, 87, 19), rgb(19, 128, 19), rgb(20, 184, 20) );
		font-size: 1.5rem;
		border: none;
		width: 10rem;
		height: 3rem;
		margin: 0 1rem;
		color: #f6f6f6;
		transition: 0.3s ease;
	}
	button:hover{
		border-radius: 0.5rem;
		box-shadow: 4px 4px 10px #4b556b;
	}
	.reset{
		background: linear-gradient(to right,rgb(89, 141, 236) 60%, rgb(173, 202, 255));
	}
}

.formulario {
	width: 60rem;
    height: 25rem;
    margin: 5rem auto;
    border-radius: 1rem;

}