@media (max-width:1023px) { // vista tablet y celular


    .bodyEstadisticas{

        .main2{ 
            
            grid-area: main2;
            grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
            grid-template-columns: 1fr;
            grid-template-areas: 
            "robos"
            "rebotes"
            "tapones"
            "puntosEquipo"
            ;
            
        
         
        }

      
     .robos{
        grid-area: robos;
     }
     .rebotes{
        grid-area: rebotes;
     }
     .tapones{
        grid-area: tapones;
     }
     .puntosEquipo{
        grid-area: puntosEquipo;
     }

    }

    main{
        grid-area: main;
        display: grid;
        height: auto;
        grid-template-rows: 0.5fr 0.5fr 0.5fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
         "lado2" 
         "lado1" 
         "lado3"
        ;
        column-gap: 15px;
        row-gap: 20px;
        margin-left: 15px;
        margin-right: 15px;

        .asistencias table tr td , .posiciones table tr td {
            text-align: start;
        }

        

    }

  

nav{
    ul{
		li{
			a{
				&:hover{
					transform: scale(1);
				}
				
			}
		}
	}
}

// Cambio de nombre de area para reordenar en vista tablet y celular

.posicionesN {
	grid-area: lado3 ;

}
.noticiasN {
	grid-area: lado1 ;
}
.miniNoticiasN {
	grid-area: lado2;
}
.asistencias {
	grid-area: lado2;
    
}
.posiciones {
	grid-area: lado1;
}
.goleadores {
	grid-area: lado3;
}

.noticiasN{
    .contenedor-padre-noticias{
        .carta-contenedor{
            height:max-content
        }
    }
}


// Optimizar largo de tablas

.lado2 , .lado1 , .lado3{
    height: max-content;
}
.lado2 table tr th, .lado1 table tr th, .lado3 table tr th {
	text-align: start;
	font-size: 1rem;
  
}
.lado2 table tr td, .lado3 table tr td {
	text-align: center;
	font-size: 1rem;
	padding-left: 1px;
	padding-right: 1px;
}

 .centrarTabla table tr td , .centrarTabla table tr th{
    width: 33%;
    height: max-content;
    text-align: center;
}

.galeria{

    figure{
        padding-left: 5px;
        padding-right: 5px;
        
        img{
            // height: auto;
            border: 2px solid rgb(32, 20, 20);
        }
        figcaption{
            height: 55px;
            // text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

}


div.formulario{
    width: 20rem;
    form{
        display: grid;
        grid-template-columns: 1fr ;
        grid-gap: 0;
        margin: 1rem 0;
    }
    input{
        width: 18rem;
        height: 1.5rem;
    }
    .btn-contacto{
        width: 18rem;
        height: 4rem;
    }
}
}